/* ************************
 * Stylesheet: announce.css
 * created: 8/17/2024 dsw
 *
 * Description: for use in Knights of Columbus 8284 special styling. Load in the uknight.org homepage <head> tag. These css definitions will not conflict with 
 *              UKnight's namespace for stylesheet definitions - MUST USE ONLY classnames, NO TAG definitions!  Append -8482 suffix
 *
 *  Modified   by   Description
 * ----------  ---  --------------------------------------------------------
 * 08/17/2024  dsw  recreated from old style.css file on GDrive.  More care taken on classname values (suffix with dash - council number 8482) and reference files with HTTPS 
 *                  so we don't get blocked due to insecure protocol.
 *                  AND wipe all unnecessary buttons.
 *                  Restructure sections for doing containers and card/button formats
 *                  -- use PRIMARY always and then add an optional SECONDARY format style
   ************************ 
*/

/* *************************************
   MAIN announcement Container */
.containerAnnounce-8482 {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem 0.5rem;
    margin: 0.5rem auto;
    padding: 0.5rem 0.25rem;
    font-size: 1.5rem;
    font-family: "Z003", serif;
    border-image: url("https://drive.google.com/uc?export=view&id=12GKRPSD8L1ZcjCKKrGaR5ivCsI5IwfVN")
        27 round stretch;
    border-width: 15px;
    border-style: solid;
    background-image: url("https://drive.google.com/uc?export=view&id=120Z6kxtuR53wBvJgRBpHPclwNqtEnB9c");
    background-repeat: repeat;
}

/*
   SUB-Container for Tamale donations */
.containerCardTamalesDonate-8482 {
    background: radial-gradient(ellipse at top right, #f43c38, transparent),
        radial-gradient(ellipse at bottom left, #f43c38, transparent),
        radial-gradient(ellipse at bottom, #112866, transparent);
    line-height: 2.5rem;
    border-bottom: 5px solid #136207;
    text-shadow: 0px -2px #136207;
}

/* **********************************
   PRIMARY base format for ALL cards. 
   Use in combination with a specific format below. Put this one FIRST */
.cardFmtPRIMARY-8482 {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: "Z003", cursive;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

/* **********************************
   CHOOSE A SPECIFIC FORMAT FOR YOUR CARD/BUTTON */

/* FORMAT:  Highlight in RED for selling stuff */
.cardFmtREDPurchase-8482 {
    background-color: #f33c38;
    border-bottom: 5px solid #990033;
    text-shadow: 0px -2px #990033;
    background: radial-gradient(
        ellipse at top right,
        #f33c38 0%,
        #f33c38 40%,
        #990033 100%
    );
}

/* FORMAT:  GENERIC button card formatting for any new buttons */
.cardFmtGeneric-8482 {
    background-color: #39842e;
    border-bottom: 5px solid #136207;
    text-shadow: 0px -2px #136207;
    background: radial-gradient(
        ellipse at bottom left,
        #39842e 0%,
        #39842e 40%,
        #1e69de 100%
    );
}

/* FORMAT:  KofC.org Form 100 button */
.cardFmtForm100-8482 {
    background-color: #112866;
    border-bottom: 5px solid #0d1d4a;
    text-shadow: 0px -2px #0d1d4a;
    background: radial-gradient(
        ellipse at bottom left,
        #112866 0%,
        #112866 40%,
        #1e69de 100%
    );
}

/* FORMAT:  First Friday Meals. */
.cardFmtFirstFriday-8482 {
    background-color: #112866;
    border-bottom: 5px solid #bd3e31;
    text-shadow: 0px -2px #bd3e31;
}

/* FORMAT:  Lenten Fish Fry. */
.cardFmtFishFry-8482 {
    background-color: #112866;
    border-bottom: 5px solid #bd3e31;
    text-shadow: 0px -2px #bd3e31;
}

/* FORMAT:  Food Handler. */
.cardFmtFoodHandler-8482 {
    background-color: #41599b;
    border-bottom: 5px solid #0d1d4a;
    text-shadow: 0px -2px #0d1d4a;
    background: radial-gradient(
        ellipse at center,
        #41599b 0%,
        #4f6298 40%,
        #1e69de 100%
    );
}

/* FORMAT:  Pay Dues */
.cardFmtPayDues-8482 {
    background-color: #112866;
    border-bottom: 5px solid #0d1d4a;
    text-shadow: 0px -2px #0d1d4a;
    background: radial-gradient(
        ellipse at bottom left,
        #112866 0%,
        #112866 40%,
        #1e69de 100%
    );
}

/* FORMAT:  POP News website */
.cardFmtPOPNews-8482 {
    background-color: #112866;
    border-bottom: 5px solid #0d1d4a;
    text-shadow: 0px -2px #0d1d4a;
    background: radial-gradient(
        ellipse at bottom left,
        #112866 0%,
        #112866 40%,
        #1e69de 100%
    );
}

/* FORMAT:  Tamales Donation */
.cardFmtTamalesDonate-8482 {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 350px;
}

/* FORMAT:  Tamales Sales */
.cardFmtTamaleSales-8482 {
    background-color: #112866;
    border-bottom: 5px solid #bd3e31;
    text-shadow: 0px -2px #28282B;
}

/* FORMAT:  Same for other KNIGHT websites. */
.cardFmtTexasKnights-8482,
.cardFmtTexasKnightsNews-8482,
.cardFmtKnightlineMagazine-8482 {
    background-color: #1e42a6;
    border-bottom: 5px solid #112866;
    text-shadow: 0px -2px #28282B;
}

/* *******************************************
   content text formatting */

/* LIGHT Color text with shadow */
.textLight-8482 {
  margin-right: 0.5em;
  font-size: 1.3em;
  color: #28282B;
  text-shadow: 1px 3px 4px rgb(52, 56, 59);
}

.linkTextWhite-8482:visited,
.linkTextWhite-8482 {
  color: whitesmoke;
  text-shadow: 1px 3px 4px black;
}

.linkTextWhite-8482:hover,
.linkTextWhite-8482:focus {
  color: gold;
}

.linkTextYellow-8482:visited,
.linkTextYellow-8482 {
  color: #ffde00;
  text-shadow: 1px 3px 4px black;
}

.linkTextYellow-8482:hover,
.linkTextYellow-8482:focus {
  color: #CCCCCC;
}


/* Animations pertaining to buttons within container */
.linkAnimate-8482 {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.linkAction-Button-8482:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

/* *******************************************
   DISABLE:  Makes a button hidden for future re-use.
   This should ALWAYS override any other class properties */
.inActive-8482 {
    display: none;
    visibility: hidden;
}

/* ***** END ***** */
